#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-image: url(./assets/download.jpg);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  /* filter: blur(1px); */
}

.mainContainer{
  position: relative;
  background-color: #F0736A;
  width: 100%;
  border: 15px solid #94E9F3;
  .pink{
    height: 5rem;
    width: 100%;
    background-color:#971F5D ;
  }
  .orange{
    height: 5rem;
    width: 100%;
    background-color:#C44963 ;
  }
  h1{
    position: absolute;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding: 2em;
  
}
}



.read-the-docs {
  color: #888;
}
